.ui-navbar {
  background-color: $ui-theme-main-dark-2;
  color: $ui-theme-main-light-2;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;

  .ui-navbar-title {
    font-size: 13px;
  }
  .icon-special-g-brandmark {
    position: relative;
    bottom: 3px;
  }
  .ui-navbar-section-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .ui-navbar-section-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
