.ui-navbar {
  background-color: $ui-theme-main-dark;
  color: $ui-theme-main-light-2;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;

  a {
    cursor: pointer;
    display: flex;
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
  }

  .ui-navbar-section-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .ui-navbar-section-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .ui-navbar-header {
    .ui-navbar-title {
      color: $ui-theme-main-light-2;
    }
  }
}
