.ui-icon {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: auto;
  span {
    position: inherit;
    line-height: 1;
    display: inline-block;
    font-family: ArkIcons;
    font-size: 30px;
    color: $ui-theme-main-light-2;
    &:hover {
      color: $ui-theme-main-light;
    }
    &.mirrored {
      transform: rotate(180deg);
    }
  }
  img {
    display: inline-block;
    width: 30px;
    height: 30px;
    &.mirrored {
      transform: rotate(180deg);
    }
  }
  &.icon-mini {
    width: 10px;
    height: 10px;
    span {
      font-size: 10px;
    }
  }
  &.icon-small {
    width: 24px;
    height: 24px;
    span {
      font-size: 24px;
    }
  }
  &.icon-large {
    width: 50px;
    height: 50px;
    span {
      font-size: 50px;
    }
  }
}
