// Buttons
$ui-theme-text-dark: #444a52 !default;
$ui-theme-text-light: #fdfdfd !default;
$ui-theme-text-light-2: #eee !default;

$ui-theme-background-light-1: #f3f7fa !default;
$ui-theme-background-light-2: #edf1f5 !default;
$ui-theme-background-light-3: #dae1e8 !default;
$ui-theme-background-light-4: #e9edf0 !default;
$ui-theme-background-light-5: #ced5d8 !default;

$ui-theme-background-primary-1: #5081e1 !default;
$ui-theme-background-primary-2: #4375d6 !default;
$ui-theme-background-primary-3: #2e69db !default;
$ui-theme-background-primary-4: #3b65b5 !default;
$ui-theme-background-primary-5: #4871bf !default;
$ui-theme-background-primary-6: #2c60bf !default;
$ui-theme-background-primary-7: #75a8ff !default;

$ui-theme-outline-lightblue: #99beff !default;
$ui-theme-outline-darkblue: #326cd8 !default;
$ui-theme-shadow-lightblue: rgba(117,168,255,.5) !default;

$ui-theme-text-disabled: #a9b9cc !default;

$ui-theme-background-disabled: rgba(243,247,250,.5) !default;
$ui-theme-background-disabled-2: rgba(218,225,232,.5) !default;

$ui-theme-background-primary-disabled: rgba(80,129,225,.5) !default;
$ui-theme-background-primary-disabled-2: rgba(46,105,219,.5) !default;
