// Main
$ui-theme-main-primary-color: #75a8ff !default; // Accent
$ui-theme-main-primary-color-2: #2e69db !default; // Focus, Active
$ui-theme-main-dark: #222529 !default; // Toolbars
$ui-theme-main-dark-2: #33383d !default; // Toolbars
$ui-theme-main-med: 	#444a52 !default; // Type
$ui-theme-main-light: 	#fdfdfd !default; // Background
$ui-theme-main-light-2: 	#eeeeee !default; // White keyline
// Conditions
$ui-theme-type-normal: #555d66 !default; // Normal
$ui-theme-type-active: $ui-theme-main-primary-color-2 !default; // Active
$ui-theme-type-disabled: #edf3fa !default; // Disabled
$ui-theme-type-danger: #ea4f6b !default; // Danger
$ui-theme-type-warning: #f8a740 !default; // Warning
$ui-theme-type-neutral: #203b73 !default; // Neutral
$ui-theme-type-good: #4ac764 !default; // Good
// Divider
$ui-theme-divider: #e5e5e5 !default; // Divider
// TODO changes
// Light Shades
$ui-theme-background-light-1: #f3f7fa !default;
$ui-theme-background-light-2: #edf1f5 !default;
$ui-theme-background-light-3: #dae1e8 !default;
$ui-theme-background-light-4: #e9edf0 !default;
$ui-theme-background-light-5: #ced5d8 !default;
$ui-theme-background-light-6: #f9f9fa !default;
// Primary Shades
$ui-theme-background-primary-1: #5081e1 !default;
$ui-theme-background-primary-2: #4375d6 !default;
$ui-theme-background-primary-3: #5e99ff !default;
$ui-theme-background-primary-4: #3b65b5 !default;
$ui-theme-background-primary-5: #4871bf !default;
$ui-theme-background-primary-6: #2c60bf !default;
// Secondary Shades
$ui-theme-background-secondary-1: #555D66 !default;
$ui-theme-background-secondary-2: #555D66 !default;
$ui-theme-background-secondary-3: #555D66 !default;
$ui-theme-background-secondary-4: #555D66 !default;
$ui-theme-background-secondary-5: #555D66 !default;
$ui-theme-background-secondary-6: #555D66 !default;

// Alpha Shades
$ui-theme-shadow-lightblue: rgba(117,168,255,.5) !default;
$ui-theme-background-disabled: rgba(243,247,250,.5) !default;
$ui-theme-background-disabled-2: rgba(218,225,232,.5) !default;
$ui-theme-background-primary-disabled: rgba(80,129,225,.5) !default;
$ui-theme-background-primary-disabled-2: rgba(46,105,219,.5) !default;
// Other
$ui-theme-outline-lightblue: #99beff !default;
$ui-theme-outline-darkblue: #326cd8 !default;
$ui-theme-text-disabled: #a9b9cc !default;
$ui-theme-item-disabled: #999999 !default;
